* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  /* font-family: "Nunito", sans-serif; */
  font-family: "Jeju Gothic", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, white 0%, pink 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  position: relative;
  width: var(inherit * 60%);
  height: var(inherit * 80%);
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
}
.wrapper img {
  width: 450px;
  border-radius: 50px;
  padding: 50px;
}
.input--section {
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.input--section p {
  text-align: right;
  padding-right: 5%;
  width: 30%;
  float: right;
  font-size: 2rem;
}
.input--section input {
  width: 70%;
  float: left;
  height: 4rem;
  border: none;
  margin-right: 10%;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  border-radius: 10rem;
  color: inherit;
  border: 1px solid lightgrey;
  transition: all 0.3s;
}
.submit--section {
  padding: 4rem;
}
.submit--section button {
  width: 100%;
  height: 10vh;
  font-size: x-large;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.submit--section button:link,
.submit--section button:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: darkgray;
}

.submit--section button:active {
  color: inherit;
  background-color: lightpink;
  transform: translateY(10%);
  transition: all 0.1s;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
