* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, white 0%, pink 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  position: relative;
  width: var(inherit * 60%);
  height: var(inherit * 80%);
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
}
.wrapper img {
  width: 100%;
  border-radius: 50px;
}
.input--section {
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.input--section p {
  width: 30%;
  float: left;
  font-size: 2rem;
}
.input--section input {
  width: 70%;
  float: left;
  height: 4rem;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid lightgrey;
  transition: all 0.3s;
}
.submit--section {
  padding: 4rem;
}
.submit--section button {
  width: 100%;
  height: 10vh;
  background-color: rgba(243, 170, 182, 0.801);
  font-size: x-large;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.submit--section button:link,
.submit--section button:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: darkgray;
}

.submit--section button:active {
  color: inherit;
  background-color: lightpink;
  transform: translateY(10%);
  transition: all 0.1s;
}
